* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    background: rgb(88, 74, 131);
    color: aliceblue;
    max-width: 100vw;
    height: 98%;
    padding: 0 0.8em 0 0.8em;

}

body {
    background-color: rgb(21, 139, 27);
}

main {
    min-height: 70%;
    background-color: rgb(57, 48, 83);
    border: 1px solid rgb(49, 49, 49);
}

footer {
    background-color: blueviolet;
}

.navbar {
    border: 1px solid rgb(83, 82, 82);
    background-color: rgb(24, 18, 43);


}

header {
    margin-bottom: 0;
    margin-top: 0;
    background-color: rgb(99, 89, 133);
}

.navbar-collapse {
    justify-content: flex-end;
    margin-right: 2rem;
    margin-top: 0;
}

.carousel {
    width: 100%;
    height: 10%;
}

.feet {
    width: 100%;
    margin-top: 1rem;
    padding: .5rem;
    border: 1px solid rgb(41, 40, 40);
    background-color: rgb(99, 89, 133);
}

.ccards {

    background-color: rgb(209, 204, 204);
    margin: 1rem 0.8em 1 0.8en;
    font-size: 15px;


}

.detailcard {
    max-height: 100%;
    background-color: rgb(57, 48, 83);
    border: 1px solid rgb(57, 48, 83);
}

.check {
    color: antiquewhite;
}

.cards {
    background-color: rgb(57, 48, 83);
    border: 0 1px solid rgb(49, 49, 49);
}

.card-img-top {
    height: 100%;
    width: auto;
    margin-top: .5rem;


}

.cards h5 {
    font-weight: bold;
}

.cardDetail-img {
    height: 60vh;
    max-width: 100%;
    box-shadow: 10px 5px 5px rgb(49, 49, 49);

}

.card-img-top {
    height: 35vh;
    max-width: 100%;
    box-shadow: 10px 5px 5px rgb(49, 49, 49);

}



.icons {
    margin: .5rem;
    padding: .4rem;
    border: 1px solid black;
    border-radius: 5px;
}

svg text {
    font-size: 50px;
}

@media (max-width: 500px) {
    svg text {
        font-size: 18px;
    }

    .table {
        font-size: .5rem;
    }
}

@media (min-width: 500px) {
    .table {
        font-size: 1rem;
    }
}


td {
    padding: .1rem;

}

tr {
    border: 1px solid rgb(136, 5, 44);
    padding: 1px;
}

thead {
    background-color: rgb(138, 135, 135);
}

tblStat {
    margin: 1rem;
}

.table {
    table-layout: fixed;
    font-size: 1rem;
}

.table>caption {
    border: 1px solid rgb(243, 243, 247);
    background-color: rgb(34, 34, 33);
    color: antiquewhite;
    padding-left: .5rem;

}

.slider {
    padding: 1rem;
    color: rgb(182, 187, 192);

}

.contact div {
    box-shadow: 5px 5px 5px rgb(131, 126, 126);
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(112, 92, 184);

}

.contact input,
.contact textarea {
    background-color: rgb(186, 186, 248);
}

.btnsub {
    border: 1px solid rgb(42, 12, 126);
    background-color: rgb(100, 100, 187);
    box-shadow: 5px 5px 5px rgb(71, 52, 121);
    padding: .5rem;
    border-radius: 5px;
}

#btn-sub {
    border: 0;
    box-shadow: none;
}